* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #F7F4ED;
}

.logo {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0px 15px 50px;
}


.nav-links {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin-top: 30px;
    margin-right: 50px;


}

.nav-links li {
    float: inline-start;


}

.nav-links li a {

    text-decoration: none;
    color: black;
    text-align: center;
    padding-right: 10px;
}



.nav-links button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 18px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;

}

.as {

    display: flex;
    justify-content: space-evenly;
}

.asd {
    display: inline-block;
    margin-top: 50px;
    margin-left: 80px;

}

.abc {
    display: inline-block;
    font-size: 100px;
    font-weight: 600;

}

.abcd {
    display: inline-block;
    font-size: 25px;
    margin-top: 25px;
}

.ab {
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    padding: 8px 40px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    margin-top: 60px;
}

.photos {

    display: inline-block;


}



.footer_link {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer_link li {
    display: inline-block;
}

.footer_link li a {
    text-decoration: none;
    color: grey;
    padding: 5px 10px;
    font-size: 12px;
}