* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{

}

.header{

    padding: 15px;
    border-radius: 2px;
    background-color: black;
    color: white;
    display: inline;
    margin-left: 25px;

}

.menu {
    padding: 15px;
    border-radius: 2px;
    background-color: red;
    display: inline;

}